<h1>This is our homepage</h1>
<!-- Lets link the two pages together. This is called paths -->
<!-- We call ruby code with these symbols <% %> -->
<!-- Whatever the page is called that we want to link to we put _path on the end -->
<!-- And if we want something to actually be displayed on the page we need to use '=' -->
<%= link_to 'About', welcome_about_path %>
