<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Jack Hages fully sick version of alpha blog. Original creator is Mashrur Hossain
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to 'About', about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>
