<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1> This is my sample homepage for the alpha blog</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi labore officia,
    quidem ab totam repellat libero eaque culpa facere ducimus! Nulla quidem totam,
    consequatur! At molestiae nesciunt quas fuga provident?
  </p>

  <%= link_to 'About', pages_about_path %>

</body>
</html>
